{% extends 'homepage/base.html' %}
{% load static %}

{% block body %}

<div class="about-section-div" id="about">

    <div class="about">
        <div class="about-img">
            <img src="{% static 'homepage/images/event2.jpg' %}" alt="NCC Girls Parade">
        </div>
        <div class="about-content">
            <h4>ABOUT US</h4>
            <p>
                The National Cadet Corps (NCC) at Farook College is an active and prestigious co-curricular unit dedicated to developing leadership, discipline, and selfless service among students. The NCC at Farook College consists of three wings - the Army Boys Wing, the Army Girls Wing, and the Naval Wing - with a combined strength of motivated cadets from diverse backgrounds. The programme aims to instill qualities like character, courage, comradeship, and a spirit of adventure through regular drills, community service, adventure training, and participation in national camps and activities. Guided by experienced Associate NCC Officers and trainers, our cadets proudly uphold the values of unity and discipline while preparing for national events and opportunities in defence and public service. By joining NCC, students gain confidence, teamwork skills, and memorable experiences that help them grow into committed and responsible citizens.
            </p>
        </div>
    </div>
</div>

{% endblock body %}