{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

       <link rel="stylesheet" href="{% static 'homepage/css/home.css' %}">
       {% block header %}
       {% endblock header %}
       
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'homepage/images/sample.jpg' %}" alt="College Logo">
            <img src="{% static 'homepage/images/sample.jpg' %}" alt="NCC Logo">
            <h1>Farook College<br>National Cadet Corps</h1>
        </div>
    </header>
    {% block navbar %}
        {% include "homepage/navbar.html" %}
    {% endblock navbar %}
    
    {% block body %}
    {% endblock body %}
    
    {% block footer %}
        {% include "homepage/footer.html" %}
    {% endblock footer %}


</body>
</html>