{% extends 'homepage/base.html' %}
{% load static %}

{% block body %}
 <main class="event-page">
    <div class="breadcrumb">Home / event</div>

    <div class="event-container">
      <aside class="sidebar">
        <button class="active">All events</button>
        <button>NCC Army Boys</button>
        <button>NCC Army Girls</button>
        <button>NCC Army Naval</button>
      </aside>

      <section class="event-grid">

        <div class="event-item">
          <img src="{% static 'images/event2.jpg' %}" alt="Ncc farook college" />
          <p>WORLD ENVIRONMENT DAY </p>
        </div>

        <div class="event-item">
          <img src="{% static 'images/event2.jpg' %}" alt="Main Block" />
          <p>15 AUGUST 2025
INDEPENDENCE DAY</p>
        </div>
        
        <div class="event-item">
            <img src="{% static 'images/event2.jpg' %}" alt="Abussabah Library" />
            <p>INTERNATIONAL DAY AGAINST DRUG ABUSE AND ILLICIT TRAFFICKING
                26 JUNE 2025</p>
            </div>
            
            <div class="event-item">
              <img src="{% static 'images/nccall.jpeg' %}" alt="Main Block" />
              <p>15 AUGUST 2025
    INDEPENDENCE DAY</p>
            </div>

                    <div class="event-item">
          <img src="{% static 'images/event2.jpg' %}" alt="Main Block" />
          <p>15 AUGUST 2025
INDEPENDENCE DAY</p>
        </div>
        
        <div class="event-item">
            <img src="{% static 'images/event2.jpg' %}" alt="Abussabah Library" />
            <p>INTERNATIONAL DAY AGAINST DRUG ABUSE AND ILLICIT TRAFFICKING
                26 JUNE 2025</p>
            </div>

      </section>
    </div>
  </main>

{% endblock body %}
