{% extends 'homepage/base.html' %}
{% load static %}

{% block body %}
 <main class="event-page">
    <div class="breadcrumb">Home / event</div>

    <div class="event-container">
      <aside class="sidebar">
        <button class="active">All events</button>
        <button>NCC Army Boys</button>
        <button>NCC Army Girls</button>
        <button>NCC Naval</button>
      </aside>

      <section class="event-grid">

        <div class="event-item">
          <div class="event-date">
            <p>Dec  01</p>
          </div>

          <div class="event-title">
            <a href="#">
              <p>'Festival De Likha' Art Biennale begins at Farook College (Autonomous)</p>
            </a>
          </div>
          
        </div>
        <div class="event-item">
          <div class="event-date">
            <p>Dec  01</p>
          </div>

          <div class="event-title">
            <a href="#">
              <p>'Festival De Likha' Art Biennale begins at Farook College (Autonomous)</p>
            </a>
          </div>

        </div>
        <div class="event-item">
          <div class="event-date">
            <p>Dec  01</p>
          </div>

          <div class="event-title">
            <a href="#">
              <p>'Festival De Likha' Art Biennale begins at Farook College (Autonomous)</p>
            </a>
          </div>

        </div>
        <div class="event-item">
          <div class="event-date">
            <p>Dec  01</p>
          </div>

          <div class="event-title">
            <a href="#">
              <p>'Festival De Likha' Art Biennale begins at Farook College (Autonomous)</p>
            </a>
          </div>

        </div>
									
      </section>
    </div>
  </main>

{% endblock body %}
