{% load static%}
<div class="erp-login">
    <div class="nav-login">
        {% if user.is_authenticated %}
            <a class="nav-login-btn" href="{% url 'dashboard' %}">Dashboard</a>
            <a class="nav-login-btn" href="{% url 'profile' %}">Profile</a>
            <a class="nav-login-btn" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <button class="nav-login-btn">Login</button>
            <div class="nav-login-content">
                <a href="{% url 'login' %}">Staff</a>
                <a href="{% url 'login' %}">Students</a>
                <a href="{% url 'login' %}">Admin</a>
            </div>
        {% endif%}
    </div>
    
    


</div>
<nav>
    <div class="nav-links">
        <div class="logos">
            <div class="logo-img">
                <img src="{% static 'images/FAROOK_COLLEGE_LOGO.png' %}" alt="FAROOK_COLLEGE_LOGO">
                <img src="{% static 'images/NCC_LOGO.png' %}" alt="NCC_LOGO">
            </div>
            <p>Farook College (Autonomous)<br>National Cadet Corps</p>
        </div>

        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li><a href="{% url 'events' %}">News & Events</a></li>
            <li><a href="#">Wings</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    
</nav>

<!-- <div class="dropdown">
    <button class="dropbtn">WINGS</button>
    <div class="dropdown-content">
    <a href="{% url 'home' %}">NCC Army Boys</a>
    <a href="{% url 'home' %}">NCC Army Girls</a>
    <a href="{% url 'home' %}">Ncc Navy</a>
    </div>
</div> -->