{% extends 'dashboard/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'dashboard/css/events.css' %}">
{% endblock head %}

{% block heading %}
Manage News & Events
<a href="{% url 'dashboard_upload_event' %}" class="dashboard-btn">Upload News & Events</a>
{% endblock heading %}


{% block body %}
<div class="event-grid">

    {% if events %}
    {% for event in events %}
        <div class="event-item">

            <div class="event-date">
                <p>{{ event.date }}</p>
            </div>
            
            <a class="event-title" href="{% url 'event_detail' event.id %}">
                <p>{{ event.title }}</p>
            </a>


            <div class="actions">
            <form method="GET" action="{% url 'dashboard_edit_event' event.id %}">
              <button type="submit"  class="update">
                <i class="fa-solid fa-pen-to-square"></i>
                <span>Update</span>
              </button>
            </form>

            <form method="POST" action="{% url 'dashboard_delete_event' event.id %}">
              {% csrf_token %}
              <button
                type="submit"
                class="delete"
                onclick="return confirm('Are you sure you want to delete this article?')">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 640 640"><path fill="#ffffff" d="M232.7 69.9L224 96L128 96C110.3 96 96 110.3 96 128C96 145.7 110.3 160 128 160L512 160C529.7 160 544 145.7 544 128C544 110.3 529.7 96 512 96L416 96L407.3 69.9C402.9 56.8 390.7 48 376.9 48L263.1 48C249.3 48 237.1 56.8 232.7 69.9zM512 208L128 208L149.1 531.1C150.7 556.4 171.7 576 197 576L443 576C468.3 576 489.3 556.4 490.9 531.1L512 208z"/></svg>
                <span>Delete</span>
              </button>
            </form>
          </div>
        
    </div>
    {% endfor %}
    {% else %}
    <p>No news or events found.</p>
    {% endif %}

</div>
{% endblock body %}
    