{% extends 'dashboard/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'dashboard/css/gallery.css' %}">
{% endblock head %}

{% block heading %}
    {% if edit %}
        Edit Image
    {% else %}
        Upload Image
        {% endif %}
{% endblock heading %}

{% block body %}
<div class="upload-container">
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <!-- Image -->
        <div>
            <label>Image</label>
            {% if edit %}
                <img src="{{ image_obj.image.url }}" alt="{{ image_obj.title }}">
                {{ form.image.errors }}
                {{ form.image}}
                
            {% else %}
                {{ form.image.errors }}
                {{ form.image }}
            {% endif %}
        </div>
        <!-- Title -->
        <div>
            <label>Title</label>
            {{ form.title.errors }}
            {{ form.title }}
        </div>
        <!-- Visibility -->
        <div>
            <label>Visibility</label>
            {{ form.visibility.errors }}
            {{ form.visibility }}
        </div>
        <!-- Category -->
        <div>
            <label>Category</label>
            {{ form.category.errors }}
            {{ form.category }}
        </div>

        <!-- Date -->
        <div>
            <label>Date</label>
            {{ form.date.errors }}
            {{ form.date }}
        </div>
        <button type="submit">
            {% if edit %} Update {% else %} Upload {% endif %}
        </button>
    </form>

</div>
{% endblock body %}