* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* Navbar */
.navbar {
  background-color: #a6192e;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 500;
}

.breadcrumb {
  padding: 15px 30px;
  font-size: 14px;
  color: #555;
}

.container {
  display: flex;
  padding: 20px 30px;
}

.sidebar {
  width: 180px;
  margin-right: 20px;
}

.sidebar button,
.sidebar a {
  text-decoration: none;
  display: block;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
  color: #a6192e;
  font-weight: bold;
  cursor: pointer;
}

.sidebar .active {
  background-color: #bc8c24;
  color: white;
  border-radius: 6px;
}

.gallery-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery-item {
  text-align: center;
  width: 250px;
}

.gallery-item img {
  width: 100%;
  border-radius: 8px;
  height: 180px;
  object-fit: cover;
}

.gallery-item p {
  margin-top: 10px;
  font-size: 16px;
  color: #444;
}
