       * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
 
        }
       

        h1 {
            border-style: groove;
            padding: 10px;
            color: cornsilk;
            background-color: brown;
        }

a{
color:white;
}
        nav {
            padding: 10px;
            background: brown;
            display: flex;
            justify-content: space-around;
        }

        nav a {
            color: cornsilk;
            text-decoration: none;
            padding: 8px 16px;
            transition: background-color 0.3s;
        }
        nav .navbtn::after{
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            content: "";
            border-top: .3em solid ;
            border-right: .3em solid transparent;
            border-bottom: 0;
            border-left: .3em solid transparent;
            font-size: 20px;
            
        }

        nav a:hover {
            background-color: brown;
            border-radius: 4px;
        }

        .logo {
            background-color: brown;
            display: flex;
            align-items: center;
	    
            padding: 10px;
            gap: 15px;
        }

        .logo img {
            height: 100px;
            width: 100px;
        }

        .logo h1 {
            color: cornsilk;
            font-size: 20px;
            border: none;
            background: none;
            padding: 0;
            margin: 0;
        }



        .pic img {
            width: 100%;
        }

        .flag img {
            height: 150px;
            width: 150px;
        }

        .flag {
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .flag h2 {
            font-size: 60px;
            font-weight: bold;
            text-align: center;
            background: linear-gradient(to right, red 33%, navy 33% 66%, rgb(18, 117, 184) 66%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'Segoe UI', sans-serif;
            text-transform: uppercase;

        }

        body {
            background: rgb(250, 243, 243);
        }

        .about h3 {
            display: flex;
            justify-content: center;
            font: 1em sans-serif;
            font-size: 20px;
            color: navy;
            font-weight: bold;

        }

        .div1,
        .div2,
        .div3 {
            width: 200px;
            height: 100px;
            border-radius: 20px;
            background-color: brown;
            border: 1px solid white;
            text-align: center;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .Box {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        .Box h4{
            color: cornsilk;
        }

        .dropbtn {
            background-color: brown;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: brown;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #d62a2a;
        }

   /* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

/* Each slide */
.mySlides {
  display: none;
  position: relative;
}

/* Image in the slide */
.slide-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

/* Caption */
.caption {
  color: white;
  font-size: 18px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
}

/* Dots */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.active {
  background-color: #717171;
}


        /* Fading animation */
        .fade {
            animation-name: fade;
            animation-duration: 3s;
        }

        @keyframes fade {
            from {
                opacity: .4
            }

            to {
                opacity: 1
            }
        }

        /* On smaller screens, decrease text size */
        @media only screen and (max-width: 300px) {
            .text {
                font-size: 11px
            }
        }

        .read {
            display: flex;
            justify-content: center;
            padding: 20px;
        }

        .read a:link,
        .read a:visited {
            background-color: brown;
            color: cornsilk;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 200px;
            height: 20px;
            position: relative;

        }

        a:hover,
        a:active {
            background-color: #400a0a;
        }

        .div4,
        .div5,
        .div6 {
            width: 300px;
            height: 200px;
            border-radius: 20px;
            background-color: brown;
            border: 1px solid white;
            text-align: center;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .Box2 {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }

        .img1 {
            background-image: url('./nccgirls.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0px -400px;
            height: 550px;
        }

        .img2 {
            background-image: url('./nccall.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0px -520px;
            height: 550px;
        }
        .img3{
            background: url('./nccnaval.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0px -75px;
            height: 600px;
        }
        /* Prev/Next buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  transition: 0.3s;
  user-select: none;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.5);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

        .box-container {
            height: 500px;
            display: flex;
            justify-content: center;
            gap: 30px;
            flex-wrap: wrap;
        }

        .box-content1 {
            height: 300px;
            width: 350px;
            background-color: brown;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            color: cornsilk;
            border-radius: 10px;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("./leadership.jpg");
            background-position: right;
        }
     .box-content2 {
            height: 300px;
            width: 350px;
            background-color: brown;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            color: cornsilk;
            border-radius: 10px;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("./adventure.jpg");
            background-position: right;
        }
        .box-content3 {
            height: 300px;
            width: 350px;
            background-color: brown;
            display: flex;
            flex-direction: column; 
            justify-content: center;
            align-items: center;
            position: relative;
            color: cornsilk;
            border-radius: 10px;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("./adventure.jpg");
            background-position: center;
            background-size: cover;
        }
        .box-content4 {
            height: 300px;
            width: 350px;
            background-color: brown;
            display: flex;
            flex-direction: column; 
            justify-content: center;
            align-items: center;
            position: relative;
            color: cornsilk;
            border-radius: 10px;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("./career.jpg");
            background-position: center;
            background-size: cover;
        }
        .box-content5 {
            height: 300px;
            width: 350px;
            background-color: brown;
            display: flex;
            flex-direction: column; 
            justify-content: center;
            align-items: center;
            position: relative;
            color: cornsilk;
            border-radius: 10px;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("./certificate.jpg");
            background-position: center;
            background-size: cover;
        }
        .box-circle {
            padding: 25px;
            background-color: rgb(228, 213, 213);
            border-radius: 50%;

        }

        .box-h {
            font-size: 24px;
            font-weight: bold;
        }

        .apply-container {
            height: 500px;
            width: 100%;

            display: flex;
            justify-content: center;
            gap: 30px;
            flex-wrap: wrap;
            flex-direction: column;
            ;
            justify-content: center;
            align-items: center;

            margin: auto;
        }

        .apply-conent {
            height: 200px;
            width: 600px;
            background-color: brown;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: static;
            color: cornsilk;
            border-radius: 10px;
            text-align: center;

        }

        .apply-p {
            text-align: center;
            font-size: 25px;
        }

        .button {
            border: none;
            color: brown;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            background-color: cornsilk;
        }

        .whycontainer {
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 20px;
            background-color: brown;

        }

        .why-p {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            color: aliceblue;
            background-color: brown;
        }

        .why-p2 {
            font-size: 20px;
            text-align: center;
            background-color: brown;
            color: cornsilk;

        }
        .about-section {
  display: flex;
  gap: 30px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
  background-color: #fceaea;
  margin-bottom: 20px;
}

.about-img {
  flex: 1 1 400px;
  max-width: 500px;
}

.about-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.about-text {
  flex: 1 1 500px;
}

.about-text h3 {
  color: navy;
  font-size: 28px;
  margin-bottom: 15px;
  border-bottom: 2px solid brown;
  padding-bottom: 10px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 15px;
  text-align: justify;
  color: #333;
}

        .footer {
            display: flex;
            flex-direction: column;
            gap: 0;
            width: 100%;
        }

        .footer-links {
            display: flex;
            justify-content: space-around;
            background-color: #f0f0f0;
            padding: 30px 0;
            border-top: 2px solid #ccc;
        }

        .footer-column {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .footer-links h3 {
            margin-bottom: 10px;
            font-weight: bold;
            text-decoration: underline;
        }

        .logo-section {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .logo-row {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .logo-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            /* Makes it circular */
            object-fit: cover;
            /* Keeps it neat */
        }


        a {
            text-decoration: none;
            color: black;
          
        }

        a:hover {
            color: brown;
        }

        .footer-column a i {
            margin-right: 8px;
            
        }
       
        .site-footer {
            background-color: brown;
            color: #ffffff;
            padding: 20px 0;
            text-align: center;
            font-size: 14px;
        }

        .site-footer .footer-content {
            width: 100%;
            margin: 0 auto;
            padding: 0 20px;
            line-height: 1.6;
        }
