{% extends 'homepage/base.html' %}
{% load static %}

{% block header %}<link rel="stylesheet" href="{% static 'homepage/css/home.css' %}">

<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock header %}


{% block body %}
    
  <section class="section-colored login">
	      <h2 style="color: #8B0000; text-align: center;"> Login</h2>
	            

    <form method="post" enctype="application/x-www-form-urlencoded">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Login">
    </form>

    {% if messages %}
        {% for message in messages %}
            <div style="color:red;text-align:center;">
                {{ message }}
            </div>

        {% endfor %}
    {% endif %}
</section>

{% endblock body %}
