{% extends 'homepage/base.html' %}
{% load static %}

{% block body %}
    
  <section class="login-container">
	      <h2> Login</h2>
	            
    <div class="login">
        <form method="post" enctype="application/x-www-form-urlencoded">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            {% if messages %}
                {% for message in messages %}
                    {% if 'error' in message.tags %}
                        <div class="error-container">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <input type="submit" value="Login">
        </form>
    </div>

</section>

{% endblock body %}
