<a href="{% url 'home' %}" 
    class="nav-item 
        {% if request.resolver_match.url_name == 'home' %}active{% endif %} ">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 9l9-7 9 7v11a2 2 0 01-2 2H5a2 2 0 01-2-2z" /><polyline points="9 22 9 12 15 12 15 22" /></svg>
    <span class="nav-label">Home</span>
</a>

<a href="{% url 'profile' %}" 
    class="nav-item 
        {% if request.resolver_match.url_name == 'profile' %}active{% endif %} ">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="users" class="lucide lucide-users logout-icon"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
    <span class="nav-label">Profile</span>
</a>

{% if "attendance_marker" in USER_TAGS or user.role == 'FACULTY' %}

<a href="{% url 'dashboard_upload_attendance' %}" 
    class="nav-item 
    {% if request.resolver_match.url_name == 'dashboard_upload_attendance' %}active{% endif %} ">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="check-circle" class="lucide lucide-check-circle logout-icon"><path d="M21.801 10A10 10 0 1 1 17 3.335"></path><path d="m9 11 3 3L22 4"></path></svg>
    <span class="nav-label">Take Attendance</span>
</a>

{% if user.role == 'FACULTY' %}
    <a href="{% url 'attendance_report' %}" 
        class="nav-item 
        {% if request.resolver_match.url_name == 'attendance_report' %}active{% endif %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="file-text" class="lucide lucide-file-text logout-icon"><path d="M6 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2z"></path><path d="M14 2v5a1 1 0 0 0 1 1h5"></path><path d="M10 9H8"></path><path d="M16 13H8"></path><path d="M16 17H8"></path></svg>
        <span class="nav-label">Attendance Report</span>
    </a>
{% endif %}

{% endif %}

{% if user.role == 'CADET' %}
<a href="{% url 'dashboard_view_attendance' %}"
    class="nav-item 
        {% if request.resolver_match.url_name == 'dashboard_view_attendance' %}active{% endif %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="bar-chart-3" class="lucide lucide-bar-chart-3 logout-icon"><path d="M3 3v16a2 2 0 0 0 2 2h16"></path><path d="M18 17V9"></path><path d="M13 17V5"></path><path d="M8 17v-3"></path></svg>
    <span class="nav-label">My Attendance</span>
</a>
{% endif %}

<a href="{% url 'dashboard_notice' %}"
    class="nav-item 
        {% if request.resolver_match.url_name == 'dashboard_notice' %}active{% endif %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="bell" class="lucide lucide-bell logout-icon"><path d="M10.268 21a2 2 0 0 0 3.464 0"></path><path d="M3.262 15.326A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673C19.41 13.956 18 12.499 18 8A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.738 7.326"></path></svg>
    <span class="nav-label">Notice</span>
</a>

<!-- <a href="{% url 'dashboard_resources' %}" class="nav-item ">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="download" class="lucide lucide-download logout-icon"><path d="M12 15V3"></path><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><path d="m7 10 5 5 5-5"></path></svg>
    <span class="nav-label">Downloads</span>
</a> -->

<hr>

{% if "gallery_manager" in USER_TAGS %}
    <a href="{% url 'dashboard_gallery' %}"
        class="nav-item 
            {% if request.resolver_match.url_name == 'dashboard_gallery' %}active{% endif %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="file-text" class="lucide lucide-file-text logout-icon"><path d="M6 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2z"></path><path d="M14 2v5a1 1 0 0 0 1 1h5"></path><path d="M10 9H8"></path><path d="M16 13H8"></path><path d="M16 17H8"></path></svg>
        <span class="nav-label">Manage Gallery</span>
    </a>
{% endif %}

{% if "news_editor" in USER_TAGS %}
    <a href="{% url 'dashboard_events' %}"
        class="nav-item 
            {% if request.resolver_match.url_name == 'dashboard_events' %}active{% endif %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="file-text" class="lucide lucide-file-text logout-icon"><path d="M6 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2z"></path><path d="M14 2v5a1 1 0 0 0 1 1h5"></path><path d="M10 9H8"></path><path d="M16 13H8"></path><path d="M16 17H8"></path></svg>
        <span class="nav-label">Manage News & Events</span>
    </a>
    {% endif %}
    
{% if "website_manager" in USER_TAGS %}
    <a href="{% url 'homepage' %}"
    class="nav-item 
    {% if request.resolver_match.url_name == 'homepage' %}active{% endif %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="file-text" class="lucide lucide-file-text logout-icon"><path d="M6 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2z"></path><path d="M14 2v5a1 1 0 0 0 1 1h5"></path><path d="M10 9H8"></path><path d="M16 13H8"></path><path d="M16 17H8"></path></svg>
    <span class="nav-label">Manage website</span>
</a>
{% endif %}

{% if user.role == 'FACULTY' %}
<!-- <a href="{% url 'dashboard_upload_resources' %}" class="nav-item ">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="download" class="lucide lucide-download logout-icon"><path d="M12 15V3"></path><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><path d="m7 8 5 -5 5 5"></path></svg>
    <span class="nav-label">Upload Resources</span>
</a> -->

<a href="{% url 'dashboard_upload_notice' %}" 
    class="nav-item 
        {% if request.resolver_match.url_name == 'dashboard_upload_notice' %}active{% endif %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="download" class="lucide lucide-download logout-icon"><path d="M12 15V3"></path><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><path d="m7 8 5 -5 5 5"></path></svg>
    <span class="nav-label">Upload Notice</span>
</a>

<a href="{% url 'addtag' %}" 
    class="nav-item 
        {% if request.resolver_match.url_name == 'addtag' %}active{% endif %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
    <span class="nav-label">Add Role</span>
</a>

{% endif %}