
.event-grid {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: stretch;
    gap: 1em;
    margin-block: 20px;
    padding-right: 10%;
}

.event-item {
  display: flex;
  flex-direction: row;
  padding-inline: 15px;
  border-bottom: 2px solid rgb(177, 177, 177);
  padding: 1em 0;
}

.event-date{
    min-width: 25%;
    padding: 0 1em ;
}

.event-title,
.event-title a{
    min-width: 75%;
    color: var(--brown);
    text-decoration: none;
}

.event-detail{
    display: flex;
    flex-direction: column;
}

.event-detail-img img{
    max-width: 100%;
    margin-bottom: 30px;
    border-radius: 4px;
}

.event-detail-title{
    color: var(--brown);
    font-size: var(--heading-1);
    font-weight: 500;
    margin-bottom: 20px;
}

.event-detail-body{
    font-size: var(--text-1);
}

.event-detail-date{
    margin-bottom: 14px;
}

.event-detail-content{
    text-align: justify;
    line-height: 1.6;
}

/* Event page end */